.main {
  width: 90%;
  height: 60px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 250px;
  gap: 10px;
  margin-bottom: 100px;
  padding: 50px;
  margin: 0 auto;
}

.button {
  background-color: #dd2c91;
  width: clamp(120px, 10vw, 161px);
  height: clamp(40px, 5vw, 48px);
  font-size: clamp(10px, 1vw, 15px);
  border-radius: 30px;
  padding: 12px 24px; 
  color: white;
  cursor: pointer;
  border: none;    
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  width: clamp(100px, 8vw, 137px); 
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}