.content-section {
  width: clamp(350px, 60%, 100%);;
  margin: 100px auto 0 auto;
  border-radius: 24px;
  background-image:
    linear-gradient(#0a0e4a, #0a0e4a),
    linear-gradient(to right, #923cb5, #00d2ff, #baff00);
  padding: clamp(10px, 10px, 40px);
  gap: 10px;
  display: flex;
  flex-direction: column;

  position: relative;
  color: white;
    
}

.heading {
  text-align: center;
  font-weight: 600;
  font-size: clamp(20px, 28px, 40px);
  line-height: 150%;
  display: block;
  margin: 0 auto;
  color: white;
}

.highlight-text {
  color: yellow;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-size: clamp(20px, 28px, 40px);
}

/* style.css */
.subtext {
  font-weight: 300;
  font-size: clamp(14px, 16px, 24px);
  line-height: 150%;
  letter-spacing: 0%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
