.working-info-title {
  font-size: clamp(28px, 30vw, 48px);
  font-weight: 600;
  margin: 0 auto;
  color: white;
}

.working-info-highlighted-word {
  font-size: clamp(28px, 8vm, 40px);
  font-weight: 400;
  margin: 0 auto;
  color: #ffe202;
  font-style: italic;
  font-family: Playfair Display;
}

.working-info-description {
  font-size: clamp(14px, 4vm, 30px);
  font-weight: 400;
  color: rgb(208, 206, 206);
  margin: 5px 0px;
}