@import "tailwindcss";

/* html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  background:
    url("./bg.png") repeat, 
    linear-gradient(180deg, #000252 0%, #000114 100%);
  background-attachment: fixed; 
  background-blend-mode: soft-light;
  background-color: #000114;
  color: white;
} */